@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Syne:wght@400;600;800&family=Work+Sans&display=swap');

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#heroBgTexture::before {
  content: "";
  opacity: 0.5;
  background: url("./assets/images/homepage/heroTexture.png"), lightgray 0% 0% / 100.84999799728394px 100.84999799728394px repeat;
  mix-blend-mode: overlay;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#formBgTexture::before {
  content: "";
  /* opacity: 0.5; */
  background: url("./assets/images/homepage/formSection/formSectionTexture.png"), lightgray 50% / cover no-repeat;
  /* mix-blend-mode: overlay; */

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}